@import url ('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100vh;
    background-color: lightcyan;
}
.content {
    border-radius: 15px;
    background-color: white;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: blue;
    width: 40%;
    height: 100%;
}
.tittle {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
}
.tittle-welcome {
    color: white;
}
.description {
    font-size: 14pox;
    font-weight: 300px;
}
.description-primary {
    color: white;
}
.first-content {
    display: flex;
}
.second-content {
    position: absolute;
    display: none;
}
.first-column {
    text-align: center;
    flex:  1 0 auto;
    z-index: 10;
}
.second-column {
    flex: 2 0 auto;
}
.form {
    display: flex;
    flex-direction: column;
    width: 180px;
}